
.kantoBody {
    background-image: linear-gradient(to bottom right, rgb(0, 78, 0), #003a70);
}

.logo {
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
}

.kanto {
    margin: 5px 10px 20px 0;
    text-align: center;
    font-family: 'Prompt', sans-serif;
    font-size: 30px;
    color: white
}

.t-header {
    background-color: black;
    display: block;
    color: white;
    margin: 0px;
    text-align: center;
    font-size: 30px;
}

.pokemonInfo {
    background-color: rgba(0, 128, 0, 0.322);
    font-family: 'prompt', sans-serif;
    margin: 0px;
}
.pokemonInfo p{
    background-color: rgba(172, 255, 47, 0.185);
    color: white;
}

p {
    margin: 0px;
}
.bulbasaur{
    text-align: center;
}
.pokePic {
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
}
.normal{
    display: none;
}
.shiny{
    display: none;
}
.active{
    display: block;
}
.iNormal{
    display: none;
}
.iShiny{
    display: none;
}
.iActive{
    display: block;
}
.vNormal{
    display: none;
}
.vShiny{
    display: none;
}
.vActive{
    display: block;
}
.mvNormal{
    display: none;
}
.mvShiny{
    display: none;
}
.mvActive{
    display: block;
}
.gvNormal{
    display: none;
}
.gvShiny{
    display: none;
}
.gvActive{
    display: block;
}
.cNormal{
    display: none;
}
.cShiny{
    display: none;
}
.cActive{
    display: block;
}
.clNormal{
    display: none;
}
.clShiny{
    display: none;
}
.clActive{
    display: block;
}
.chaNormal{
    display: none;
}
.chaShiny{
    display: none;
}
.chaActive{
    display: block;
}
.chaXNormal{
    display: none;
}
.chaXShiny{
    display: none;
}
.chaXActive{
    display: block;
}
.chaYNormal{
    display: none;
}
.chaYShiny{
    display: none;
}
.chaYActive{
    display: block;
}
.gChaNormal{
    display: none;
}
.gChaShiny{
    display: none;
}
.gChaActive{
    display: block;
}
.sNormal{
    display: none;
}
.sShiny{
    display: none;
}
.sActive{
    display: block;
}
.wNormal{
    display: none;
}
.wShiny{
    display: none;
}
.wActive{
    display: block;
}
.bNormal{
    display: none;
}
.bShiny{
    display: none;
}
.bActive{
    display: block;
}
.mbNormal{
    display: none;
}
.mbShiny{
    display: none;
}
.mbActive{
    display: block;
}
.gbNormal{
    display: none;
}
.gbShiny{
    display: none;
}
.gbActive{
    display: block;
}