* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    border: none;
}

.logo {
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
}

.search {
    margin: 5px 10px 20px 0;
    font-family: 'Prompt', sans-serif;
    text-align: center;
    color: white;
}

form input,
form button{
    padding: 0.5rem;
    font-size: 2rem;
    background: white ;
}
form button{
    color: #ffcb05;
    background: #003a70;
    cursor: pointer;
    transition: 0.3s ease;
}
form button:hover{
    color: #003a70;
    background: #ffcb05;
}

#background {
    background-image: linear-gradient(to bottom right, red, #003a70);
}

#pokedex {
    margin: 5px 10px 20px 0;
    text-align: center;
    font-family: 'Prompt', sans-serif;
    font-size: 30px;
    color: white
}

nav{
    background-color: rgba(128, 126, 126, 0.589);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
}
nav p{
    font-family: 'prompt', sans-serif;
    color: white;
    text-align: left;
}

.pokeball {
    width: 15%;
}
@media only screen and (max-width: 600px){
    nav{
        background-color: rgba(255, 0, 0, 0);
    }
    .pokeball{
        margin-left: auto;
        margin-right: auto;
    }
}
.pokeball img{
    width: 80%;
    margin: 0;
}

#pokeballBtn{
    color: #ffcb05;
    background: #003a70;
    cursor: pointer;
    transition: 0.3s ease;
    height: 50px;
    width: 50px;
}
#pokeballBtn:hover{
    color: #003a70;
    background: #ffcb05;
}

ul {
    list-style: none;
}

.menu-ctn > li {
    display: inline-block;
    background-color:  #003a70;
    padding: 10px 30px;
    transition: all 0.8s ease;
    position: relative;
    color: white;
}
@media only screen and (max-width: 600px) {
    #menu,#menu2,#menu3,#menu4,#menu5,#menu6,#menu7,#menu8{
        display: none;
    }
}

.menu-ctn li:hover{
    cursor: pointer;
    background-color: #ffcb05;
}

#dropdown{
    position: absolute;
    width: 100%;
    display: none;
    font-family: 'Prompt', sans-serif;
    background-color:#3d7dca;
    z-index: 1;
    text-align: center;
    left: 0;
    top: 100%;
}
#dropdown a {
    padding: 10px 15px;
}
#dropdown.active {
    display: block;
}

#dropdown2{
    position: absolute;
    width: 100%;
    display: none;
    font-family: 'Prompt', sans-serif;
    background-color: #3d7dca;
    z-index: 1;
    text-align: center;
    left: 0;
    top: 100%;
}
#dropdown2 a {
    padding: 10px 15px;
}
#dropdown2.active {
    display: block;
}

#dropdown3{
    position: absolute;
    width: 100%;
    display: none;
    font-family: 'Prompt', sans-serif;
    background-color: #3d7dca;
    z-index: 1;
    text-align: center;
    left: 0;
    top: 100%;
}
#dropdown3 a {
    padding: 10px 15px;
}
#dropdown3.active {
    display: block;
}
#dropdown4{
    position: absolute;
    width: 100%;
    display: none;
    font-family: 'Prompt', sans-serif;
    background-color:#3d7dca;
    z-index: 1;
    text-align: center;
    left: 0;
    top: 100%;
}
#dropdown4 a {
    padding: 10px 15px;
}
#dropdown4.active {
    display: block;
}
#dropdown5{
    position: absolute;
    width: 100%;
    display: none;
    font-family: 'Prompt', sans-serif;
    background-color:#3d7dca;
    z-index: 1;
    text-align: center;
    left: 0;
    top: 100%;
}
#dropdown5 a {
    padding: 10px 15px;
}
#dropdown5.active {
    display: block;
}
#dropdown6{
    position: absolute;
    width: 100%;
    display: none;
    font-family: 'Prompt', sans-serif;
    background-color:#3d7dca;
    z-index: 1;
    text-align: center;
    left: 0;
    top: 100%;
}
#dropdown6 a {
    padding: 10px 15px;
}
#dropdown6.active {
    display: block;
}
#dropdown7{
    position: absolute;
    width: 100%;
    display: none;
    font-family: 'Prompt', sans-serif;
    background-color:#3d7dca;
    z-index: 1;
    text-align: center;
    left: 0;
    top: 100%;
}
#dropdown7 a {
    padding: 10px 15px;
}
#dropdown7.active {
    display: block;
}
#dropdown8{
    position: absolute;
    width: 100%;
    display: none;
    font-family: 'Prompt', sans-serif;
    background-color:#3d7dca;
    z-index: 1;
    text-align: center;
    left: 0;
    top: 100%;
}
#dropdown8 a {
    padding: 10px 15px;
}
#dropdown8.active {
    display: block;
}

h3{
    text-align: center;
    font-family: 'Prompt', sans-serif;
    font-size: 30px;
    color: white
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #003a70cb;
    padding: 10px;
    margin: 0px 30px;
  }
  .grid-item {
    background-color: #3d7cca7e;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 20px;
    text-align: center;
  }
  @media only screen and (max-width: 600px){
      .grid-container{
          display: block;
      }
  }

.deximg img {
    width: 10%;
}
.deximg {
    width: 30%;
}


.pikachupic {
    width: 100%;
}

.pokemon{
    display: grid;
    background-color: #d0d7ddcb;
    padding: 10px;
    margin: 0px 30px;
}

